<div class="canvas-container" id="canvas-container"></div>
<div class="canvas-btn-div"><button  class="canvas-btn" id="purple-btn" ng-click="setColor(colorPurple)"></button></div>
<div class="canvas-btn-div"><button  class="canvas-btn" id="yellow-btn" ng-click="setColor(colorYellow)"></button></div>
<div class="canvas-btn-div"><button  class="canvas-btn" id="brown-btn" ng-click="setColor(colorBrown)"></button></div>
<div class="canvas-btn-div"><button  class="canvas-btn" id="green-btn"ng-click="setColor(colorGreen)"></button></div>
<div class="canvas-btn-div"><button  class="canvas-btn" id="lg-brush"ng-click="setBrush(15)"></button></div>
<div class="canvas-btn-div"><button  class="canvas-btn" id="md-brush" ng-click="setBrush(10)"></button></div>
<div class="canvas-btn-div"><button  class="canvas-btn" id="sm-brush" ng-click="setBrush(5)"></button></div>
<div class="canvas-btn-div"><button  class="canvas-btn" id="clear-btn" ng-click="clearCanvas()">C</button></div>
<div class="image-message col-xs-12"><button ng-click="sendImage()"class="btn btn-success btn-send">Send Image</button>
<button ng-click="undoChanges()"class="btn btn-success btn-send">Undo</button>
<button ng-click="redoChanges()"class="btn btn-success btn-send">Redo</button>
</div>
