<div class="canvas-container" id="canvas-container"></div>
<div class="lock-size" layout="row" layout-align="center center">
    <md-fab-speed-dial md-direction="left" class="md-fling" md-open="true" <md-fab-actions>
        <div>
            <md-button class="md-fab md-raised md-mini" id="red-btn" ng-click="setColor(colorRed)">
                <md-icon md-svg-src="img/palette.svg" class="s24" aria-label="Red"></md-button>
            <md-button class="md-fab md-raised md-mini" id="orange-btn" ng-click="setColor(colorOrange)">
                <md-icon md-svg-src="img/palette.svg" class="s24" aria-label="Orange"></md-button>
            <md-button class="md-fab md-raised md-mini" id="yellow-btn" ng-click="setColor(colorYellow)">
                <md-icon md-svg-src="img/palette.svg" class="s24" aria-label="Yellow"></md-button>
            <md-button class="md-fab md-raised md-mini" id="green-btn" ng-click="setColor(colorGreen)">
                <md-icon md-svg-src="img/palette.svg" class="s24" aria-label="Green"></md-button>
            <md-button class="md-fab md-raised md-mini" id="blue-btn" ng-click="setColor(colorBlue)">
                <md-icon md-svg-src="img/palette.svg" class="s24" aria-label="Blue"></md-button>
            <md-button class="md-fab md-raised md-mini" id="purple-btn" ng-click="setColor(colorPurple)">
                <md-icon md-svg-src="img/palette.svg" class="s24" aria-label="Purple"></md-button>
            <md-button class="md-fab md-raised md-mini" id="black-btn" ng-click="setColor(colorBlack)">
                <md-icon md-svg-src="img/palette-white.svg" class="s24" aria-label="Black"></md-button>
            <md-button class="md-fab md-raised md-mini" ng-click="setBrush(15)">L<md-icon md-svg-src="img/brush.svg" class="s24" aria-label="Large"></md-button>
            <md-button class="md-fab md-raised md-mini" ng-click="setBrush(10)">M<md-icon md-svg-src="img/brush.svg" class="s24" aria-label="Medium"></md-button>
            <md-button class="md-fab md-raised md-mini" ng-click="setBrush(5)">S<md-icon md-svg-src="img/brush.svg" class="s24" aria-label="Small"></md-button>
            <md-button class="md-fab md-raised md-mini" id="clear-btn" ng-click="clearCanvas()"><md-icon md-svg-src="img/clear.svg" class="s24" aria-label="Clear Canvas"></md-icon></md-button>
            <md-button class="md-fab md-raised md-mini" id="clear-btn" ng-click="undoChanges()"><md-icon md-svg-src="img/undo.svg" class="s24" aria-label="Undo"></md-icon></md-button>
            <md-button class="md-fab md-raised md-mini" id="clear-btn" ng-click="redoChanges()"><md-icon md-svg-src="img/redo.svg" class="s24" aria-label="Redo"></md-icon></md-button>
            <md-button class="md-fab md-raised md-mini" id="clear-btn" ng-click="sendImage()"><md-icon md-svg-src="img/send.svg" class="s24" aria-label="Send Canvas"></md-icon></md-button>
        </div>
        </md-fab-actions>
    </md-fab-speed-dial>
</div>
</div>
