<md-dialog aria-label="Mango">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Enter your chat username</h2>
                <span flex></span>
            </div>
            <div class='col-xs-12 user-enter-box'>
            </div>
        </md-toolbar>
        <md-dialog-content ng-show="userStatus">
            <md-input-container>
                <label>New User Enter Name</label>
                <input ng-model="username.displayName" type="text">
            </md-input-container>
            <md-input-container>
                <label>Enter Password</label>
                <input ng-model="username.password" type="text">
            </md-input-container>
            <md-input-container>
                <label>Repeat Password</label>
                <input type="text">
            </md-input-container>
        </md-dialog-content>
        <md-dialog-content ng-show="!userStatus">
            <md-input-container>
                <label>Enter Name</label>
                <input ng-model="username.displayName" type="text">
            </md-input-container>
            <md-input-container>
                <label>Enter Password</label>
                <input ng-model="username.password" type="text">
            </md-input-container>
        </md-dialog-content>
        <div ng-show="userStatus" class="md-actions" layout="row">
            <md-button ng-click="answer(username)" class="md-primary" ng-disabled="!username">
                Add User
            </md-button>
        </div>
        <div ng-show="!userStatus" class="md-actions" layout="row">
        <md-button ng-click="sendLogin(username)" class="md-primary" ng-disabled="!username">
                Login
         </md-button>
         </div>
    </form>
      <button  ng-show="!userStatus" class="login-btn btn" ng-click ="newUser()">new user</button>
      <button ng-show="userStatus" class="login-btn btn" ng-click ="returningUser()">returning user</button>
</md-dialog>