* {
	margin: 0;
}
html, body {
    background: #fafafa !important;
	height: 100%;
}
.wrapper {
	min-height: 100%;
	margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}

.footer {
    background: #fff;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height:50px;
}

.message.ng-enter {
    -webkit-animation: zoomIn 1s;
    -ms-animation: zoomIn 1s;
    animation: zoomIn 1s;
}

#img-test-div{
        /*padding: 2%;*/
}

#img-test-div img {
    position:absolute;
    margin-right: 2%;

}

.coveringCanvas{
    position:absolute;
    z-index: 5;
    width: 100%;
}

.col-xs-6{
    height:100px;
}

.full-width {
    width: 100%;
}

canvas{
    border-left: 1px solid grey;
    border-bottom: 2px solid grey;
    /*padding: 2%;*/
    margin-left: -5%;
     cursor: crosshair;

}

.user-enter-box{
    align-content: center;

}

.login-btn{
    margin: auto;
    width: 45%;
    color: white;
}


