body {
    background: #fafafa !important;
}


.footer {
    background: #fff;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

.message.ng-enter {
    -webkit-animation: zoomIn 1s;
    -ms-animation: zoomIn 1s;
    animation: zoomIn 1s;
}

.col-xs-6{
    height:100px;
}

canvas{
    border-left: 1px solid grey;
    border-bottom: 2px solid grey;
    padding: 2%;
    margin-left: -5%;
     cursor: crosshair;

}

.user-enter-box{
    align-content: center;

}

.login-btn{
    margin: auto;
    width: 45%;
    color: white;
}

.canvas-btn{
    width: 8%;
    height: 40px;
    margin: 1%;
    border: 2px solid black;
    border-radius: 5px;
    padding: 1%;
}

#purple-btn{
    background-color: #cb3594;
}

#green-btn{
    background-color: #659b41;
}

#brown-btn{
    background-color: #986928;
}
#yellow-btn{
    background-color: #ffcf33;
}
