body {
    background: #fafafa !important;
}


.footer {
    background: #fff;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

.message.ng-enter {
    -webkit-animation: zoomIn 1s;
    -ms-animation: zoomIn 1s;
    animation: zoomIn 1s;
}

.col-xs-6{
    height:100px;
}

canvas{
    border-left: 1px solid grey;
    border-bottom: 2px solid grey;
    padding: 2%;
    margin-left: -5%;
}

