.canvas-btn-div{
	width: 8%;
    height: 40px;
    margin: 2%;
    border: 2px solid grey;
	border-radius: 6px;
	padding: .5%;
	float:left;
    align-content: center;
    background-color:lightgrey;
}

.canvas-btn{
	width:100%;
	height: 100%;
    border: none;
    float: right;
   
}

.s24 {
  width: 24px;
  height: 24px;
}

#purple-btn{
    background-color: #cb3594;
}

#green-btn{
    background-color: #659b41;
}

#brown-btn{
    background-color: #986928;
}
#yellow-btn{
    background-color: #ffcf33;
}

#lg-brush{
    background-color: black;
    border-radius: 30px;
    width: 80%;
    height: 80%;
    clear: right;
    margin-right: 15%;
    margin-top: 15%;
}

#md-brush{
    background-color: black;
    border-radius: 30px;
    width: 65%;
    height: 65%;
    clear: right;
    margin-right: 17%;
    margin-top: 25%;
}

#sm-brush{
    background-color: black;
    border-radius: 30px;
    width: 50%;
    height: 50%;
    clear: right;
    margin-right: 25%;
    margin-top: 30%;
}

#clear-btn{
    color: white;
    font-family: Verdana;
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 25px;
    padding-top: -5px;
}

.image-message{
   display: flex;
   align-content: center;
}

.btn-send{
    margin: auto;   
    border: 2px solid grey;
    background-color:lightgrey;
}

#test-box{
    width:450px;
    height:250px;
}

#img-test-div img{
    max-width:100%;
    max-height:100%;
}